<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n}{FATAL=white, ERROR=red, WARN=blue, INFO=black, DEBUG=green, TRACE=blue}" />
        </Console>

        <!-- File Appender -->
        <File name="File" fileName="c:/log/spring.log">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
        </File>

        <!-- File Appender -->
        <RollingFile name="RollingFile" fileName="c:/log/spring-rolling.log" filePattern="c:/log/$${date:yyyy-MM}/spring-%d{MM-dd-yyyy}-%i.log.gz"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MMM-dd %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <!-- <TimeBasedTriggeringPolicy  interval="1" modulate="true"/> -->
                <CronTriggeringPolicy schedule="0 0 * * * ?"/>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>
    <Loggers>
        <!-- Log everything in hibernate -->
        <Logger name="org.hibernate" level="info" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <!-- Log SQL statements -->
        <Logger name="org.hibernate.SQL" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Logger>

        <!-- Log JDBC bind parameters -->
        <Logger name="org.hibernate.type.descriptor.sql" level="trace" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Logger>

        <!-- Log cache -->
        <Logger name="org.hibernate.cache" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Logger>
        <Logger name="org.ehcache" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Logger>

        <!-- Log custom packages -->
        <Logger name="com.jcpv.example" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
            <AppenderRef ref="RollingFile" />
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>